<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Svi kursevi</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" id="theme-stylesheet">
    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/popup.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle">-->
            <div>
                <h1 class="h4">Ime prezime</h1>
                <p>Smjer</p>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href="#homeSubmenu">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>
            <li class="active">
                <a href="#">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    Svi Kursevi
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    Moji Kursevi
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <%  if(rows.length >= 1){
                        for(var i=0; i < rows.length; i++) { %>
                    <li><a href="#"><%= rows[i].NazivKursa %></a></li>

                    <% }} %>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-link"></i>
                    Ispiti
                </a>
            </li>
        </ul>
    </nav>
    <!--Sidebar end -->
    <!-- Page Content Holder -->
    <div id="content" class="customWidth">
        <!-- Header-->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Svi Kursevi</a>
            </div>
        </nav>
        <!--Header end-->

        <!--Table for courses-->
        <div class="table-striped" id="tabela">
            <table class="table">
                <% if(rows.length >= 1){
                    for(var i = 0; i < rows.length; i++) {
                     %>
                <tr>
                    <td id="imeKursa"><%= rows[i].NazivKursa %></td>
                    <td id="odsjek"><%= rows[i].Odsjek %></td>


                    <td>
                        <button type="button" id="prijavaDugme" class="btn btn-info" data-toggle="modal"
                                data-target="#prijavaModal" onclick="prijaviSe(<%= rows[i].KursId %>);">Prijava
                        </button>
                    </td>
                </tr>
                <% }} %>
            </table>
        </div>
        <!--Table end-->

        <!--Creating Course-->
        <button class="button btn-info" id="dodajKursDugme" data-toggle="modal" data-target="#dodajKursModal"> Dodaj
            kurs
        </button>

        <div class="modal fade" id="dodajKursModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Kreiranje kursa</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <p>Kurs</p>
                            <input type="text" name="naziv_kursa" id="naziv_kursa" placeholder="Unesi naziv kursa"
                                   required="required">
                            <p>Odsjek</p>
                            <input type="text" name="odsjek" id="odsjek" placeholder="Unesi odsjek" required="required">
                            <p></p>
                            <p>Semestar</p>
                            <input type="text" name="semestar" id="semestar" placeholder="Unesi semestar"
                                   required="required">
                            <p></p>
                            <p>Smjer</p>
                            <input type="text" name="smjer" id="smjer" placeholder="Unesi smjer" required="required">
                            <p>Ciklus</p>
                            <input type="text" name="ciklus" id="ciklus" placeholder="Unesi ciklus" required="required">
                            <p>Šifra kursa</p>
                            <input type="text" name="sifra_kursa" id="sifra_kursa" placeholder="Unesi šifru kursa"
                                   required="required">
                        </div>
                        <input type="submit" class="btn btn-info" value="Submit" formmethod="post">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>

        <!--Create Course end -->

        <div class="modal fade" id="prijavaModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Prijava na kurs</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr">Unesite sifru kursa:</label>
                            <input type="text" class="form-control" id="sifra_kursa1" name="sifraKursa">
                        </div>
                        <input type="submit" class="btn btn-info" value="Submit" id="prijaviKurs">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
