
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Svi kursevi</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" id="theme-stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="/javascripts/helper.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle">-->
            <div>
                <h1 class="h4">Ime prezime</h1>
                <p>Smjer</p>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>
            <li>
                <a href="users/sviKursevi">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    Svi Kursevi
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    Moji Kursevi
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-link"></i>
                    Ispiti
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="customWidth">

        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Dashboard</a>
            </div></nav>
    <div class="dasboard">
            <div class="container">
                <div class="row">

                <div class="col-sm-4">
                    <div class="round red">
                    <img  class = "icon" src="/images/img1.jpg" alt="book icon">
                    </div>
                    <div class="text">
                        <span class="textDashboard">Kurseva:</span>
                        <br>
                        <h1 class="numberDashboard redtext"> 7 </h1>
                    </div>
                </div>


                    <div class="col-sm-4">
                        <div class="round yellow">
                            <img  class = "icon" src="/images/img1.jpg" alt="book icon">
                        </div>
                        <div class="text">
                        <span class="textDashboard">Preostalih ispita: </span>
                            <br>
                            <h1 class="numberDashboard yellowtext"> 7 </h1>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="round blue">
                            <img  class = "icon" src="/images/img1.jpg" alt="book icon">
                        </div>
                        <div class="text">
                            <span class="textDashboard">Položenih ispita:</span>
                            <br>
                            <h1 class="numberDashboard bluetext"> 7 </h1>
                        </div>
                    </div>

                </div>
            </div>
    </div>
            </div>
    </div>
            </div>

</div>
</div>
</body>
</html>
