<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="css/fontastic.css">
    <!-- Font Awesome CSS---->
    <link rel="stylesheet" href="/stylesheets/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/stylesheets/stylePocetna.css" id="theme-stylesheet">
    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Proffesor  Dashboard</title>

    <!-- Custom stylesheet - for your changes--
    <link rel="stylesheet" href="css/custom.css">-->
    <!-- Favicon--
    <link rel="shortcut icon" href="favicon.png">-->

</head>
<body>

<div class="page home-page">
    <!-- Main Navbar-->
    <header class="header">
        <nav class="navbar-myheader">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <% for(var i=0; i < odsjek.length; i++) { %>
                        <a href="index.html" class="navbar-brand-text white upper" > <%= odsjek[i].Fakultet%></a>
                        <% } %>
                        <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Logout    -->
                        <li class="nav-item"><a href="" id="logout" class="nav-link logout white">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="/images/img6.png" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <% for(var i=0; i < imePrezime.length; i++) { %>
                    <h1 class="h4"><%= imePrezime[i].Ime%> <%= imePrezime[i].Prezime%></h1>
                    <% } %>
                </div>
            </div>

            <ul class="list-unstyled">
                <li class="active"> <a href="index.html"><i class="icon fa fa-home"></i>Početna</a></li>
                <li><a href="" aria-expanded="false"> <i class="icon fa fa-book"></i>Moji Kursevi </a>
                    <ul id="dashvariants">
                        <li><a href="#">Računarske mreže</a></li>
                        <li><a href="#">Algoritmi i strukture podataka</a></li>
                    </ul>
                </li>
                <li> <a href=""> <i class="icon fa fa-pencil-square-o"></i>Ispiti</a></li>
            </ul>
        </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Dashboard</h2>
                </div>
            </header>
            <!-- Dashboard Counts Section-->
            <section class="dashboard-counts no-padding-bottom">
                <div class="container-fluid">
                    <div class="row bg-white has-shadow">
                        <!-- Item -->
                        <div class="col-xl-4 col-sm-6">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-orange"> <img  class ="icons" src="/images/img1.jpg" alt="book icon"></div>
                                <div class="title"><span>Kurseva</span>
                                    <br>
                                    <span class="number"><strong>7</strong> </span>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-4 col-sm-6">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-red"><img  class ="icons" src="/images/img2.png" alt="people icon"></div>
                                <div class="title"><span>Studenata</span>
                                    </br>
                                    <span class="number"><strong>70</strong></span>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-4 col-sm-6">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-green"><img  class ="icons" src="/images/img3.png" alt="exam icon"></div>
                                <div class="title"><span>Ispita</span>
                                    <br>
                                    <span class="number"><strong>40</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Updates Section                                                -->
                    <section class="updates no-padding-top">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Recent Updates-->
                                <div class="col-lg-8">
                                    <div class="recent-updates card">
                                        <div class="card-header">
                                            <h3 class="h4">Nadolazeći događaji</h3>
                                        </div>
                                        <div class="card-body no-padding">
                                            <!-- Item-->
                                            <div class="item d-flex justify-content-between">
                                                <div class="info d-flex">
                                                    <div class="title">
                                                        <h5>Druga parcijala iz predmeta Računarske mreže</h5>
                                                    </div>
                                                </div>
                                                <div class="date text-right"><strong>24</strong><span>DEC</span></div>
                                            </div>
                                            <!-- Item-->
                                            <div class="item d-flex justify-content-between">
                                                <div class="info d-flex">
                                                    <div class="title">
                                                        <h5>Zadaća iz predmeta Algoritmi i strukture podataka</h5>
                                                    </div>
                                                </div>
                                                <div class="date text-right"><strong>24</strong><span>May</span></div>
                                            </div>
                                            <!-- Item        -->
                                            <div class="item d-flex justify-content-between">
                                                <div class="info d-flex">
                                                    <div class="title">
                                                        <h5>Seminarski rad gostujućeg profesora</h5>
                                                    </div>
                                                </div>
                                                <div class="date text-right"><strong>30</strong><span>DEC</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ovdje mogu timeline staviti -->
                            </div>
                        </div>
                    </section>
                    <!-- Page Footer-->
                    <footer class="main-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Prirodno matemtički fakultet &copy; 2017</p>
                                </div>
                                <div class="col-sm-6 text-right">
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </section>
    </div>
    </div>
    </div>
    </div>
</body>
</html>