body {
    margin: 0;
    padding: 0;
    background: url("slike/pozadina_blur.jpg");
    background-size: cover;
    font-family: sans-serif;
}

.title{
    text-align: center;
    padding: 50px 0 20px;
}
.title h1{
    margin: 0;
    padding: 0;
    color: #fff3cc;
    text-transform: uppercase;
    font-size: 36px;
}
.container{
    background-color: bisque;
    margin: 0 auto;
    height: 500px;
    width: 60%;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);

}
.container .left{
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container .right{
    float: right;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.formBox{
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    height: 500px;
    background: #fff;

}

.formBox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formBox input{
    width: 100%;
    margin-bottom: 20px;
}
.formBox input[type= "text"],
.formBox input[type= "Password"]{
    border: none;
    border-bottom: 2px solid #a6af13 ;
    outline: none;
    height: 40px;
}
.formBox input[type= "text"]:focus,
.formBox input[type= "Password"]:focus{
    border-bottom: 2px solid #262626;
}
.formBox input[type= "submit"]{
    border: none;
    outline: none;
    height:40px;
    color:#fff;
    background: #a6af13;
    cursor: pointer;
}

.formBox input[type= "submit"]:hover{
    background:#4d4d00;
}
.formBox a{
    color:#262626;
    font-size:12px;
    font-weight: bold;
}