
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.dasboard{
    background: white;
    padding: 3%;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.numberDashboard{
    font-size: 30px;
    font-weight: bold;
}
.title{
    text-align: center;
    padding: 50px 0 20px;
}
.title h1{
    margin: 0;
    padding: 0;
    color: #fff3cc;
    text-transform: uppercase;
    font-size: 36px;
}
.formBox{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;

}

.formBox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formBox input{
    width: 100%;
    margin-bottom: 20px;
}
.formBox input[type= "text"],
.formBox input[type= "Password"]{
    border: none;
    border-bottom: 2px solid #a6af13 ;
    outline: none;
    height: 40px;
}
.formBox input[type= "text"]:focus,
.formBox input[type= "Password"]:focus{
    border-bottom: 2px solid #262626;
}
.formBox input[type= "submit"]{
    border: none;
    outline: none;
    height:40px;
    color:#fff;
    background: #a6af13;
    cursor: pointer;
}

.formBox input[type= "submit"]:hover{
    background:#4d4d00;
}
.formBox a{
    color:#262626;
    font-size:12px;
    font-weight: bold;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 4%;
}
#tabela{
    margin-left: 4%;
    width: 100%;
    margin-top: 3%;

}
.green{
    color:rgb(191,200,21)!important;
    font-weight: bold;
    padding: 1%;
}
th{
    background:rgb(191,200,21)!important;
    color: white;
}
.navbar-brand{
    color:rgb(191,200,21)!important;
    font-weight: bold;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: white;
    color:rgb(191,200,21);
}
.btn-secundary{
    margin-left: 5%;
}
.btn-secundary:hover{
    background: white;
    color:rgb(191,200,21);
}
.btn-secundary:active{
    background: white;
    color:rgb(191,200,21);
}
.btn-secundary:focus{
    background: white;
    color:rgb(191,200,21);
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
-----------------------------------------------------*/

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 180px;
    max-width: 180px;
    background: rgb(191,200,21);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.col-sm-4{
    display: flex;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}
.sidebarSmallIcon{
    width: 50px!important;
    height: 50px!important;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(191,200,21)!important;
    background: white !important;
}
#sidebar ul li a:hover {
    color: rgb(191,200,21)!important;
    background: white !important;
}


#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(191,200,21);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(191,200,21);
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(191,200,21);
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 10px;
    min-height: 100vh;
    width: 80%;
}
.round{
    border-radius: 50%;
    padding: 5%;
    width: 70%;
    height: 5%;
}
.red{
    background: #88C043;
}
.yellow{
    background: #FF5733;
}
.blue{
    background: #013B7D ;
}
.redtext{
    color: #88C043;
}
.yellowButton{
    background: #f9e54d;
}
.yellowtext{
    color: #FF5733;
}
.bluetext{
    color:  #013B7D ;
}
.text{
    width: 90%;
    padding: 10%;
}
.textDashboard{
    font-size: 20px;
    font-weight: bold;
}
.icon{
    padding: 10%;
    width: 100%;
    height: 100%;
}
.dasboard{
    margin-left: 4%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}
.iconsmall{
    width: 80px;
    height: 80px;
}
.wide {
    width: 114% !important;
}
.box{
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 4%;
    padding: 2%;

}
.dugmeProf{
    margin-left: 89%;
}
/* Popup css*/
.modal-content{
    height: 5% !important;
}
#divButton{
    margin-left: 4%;
    width: 100%;
}
#dodajKursDugme{
    margin-left: 89.5%;
}

.dugmeKreiraj{
    padding: -1px;
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

}

.button{
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    background-color:rgb(191,200,21)!important;
    color: white;
}

.button_prijava{
    padding: 8px 15px;
    margin-left: 72%;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    background-color:rgb(191,200,21)!important;
    color: white;
}
.modal-body{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height:400px;
}
.modal-body-ispit{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height:250px;
}

.modal-body-prijava{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height:250px;
}


.modal-body-prijava{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height:250px;
}

.form-group{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;

}
.form-group-ispit{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 200px;
    background: #fff;

}
.form-group  p{
    margin:0;
    padding:2px;
    font-weight: bold;
    color: #a6af13;
}
.form-group-ispit  p{
    margin:0;
    padding:2px;
    font-weight: bold;
    color: #a6af13;
}
.form-group input{
    width: 100%;
    margin-bottom: 5px;
}
.form-group-ispit input{
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #a6af13 ;
}
.form-group input[type= "text"]{
    border: none;
    border-bottom: 2px solid #a6af13 ;
    outline: none;
    height: 30px;
}

.form-group-ispit input[type= "text"]{
    border: none;
    border-bottom: 2px solid #a6af13 ;
    outline: none;
    height: 30px;
}
.form-group input[type= "text"]:focus{
    border-bottom: 2px solid #262626;
}
.form-group-ispit input[type= "text"]:focus{
    border-bottom: 2px solid #262626;
}

.form-group input[type= "submit"]{
    border: none;
    outline: none;
    height:30px;
    color:#fff;
    background: #a6af13;
    cursor: pointer;
}

.form-group-ispit input[type= "submit"]{
    border: none;
    outline: none;
    height:30px;
    color:#fff;
    background: #a6af13;
    cursor: pointer;
}

.form-group input[type= "submit"]:hover{
    background:#4d4d00;
}
.form-group-ispit input[type= "submit"]:hover{
    background:#4d4d00;
}

.modal-body-prijava{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height:150px;
}

.form-group-prijava{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 100px;
    background: #fff;

}
.form-group-prijava  p{
    margin:0;
    padding:2px;
    font-weight: bold;
    color: #a6af13;
}
.form-group-prijava input{
    width: 100%;
    margin-bottom: 5px;
}

.form-group-prijava input[type= "text"]{
    border: none;
    border-bottom: 2px solid #a6af13 ;
    outline: none;
    height: 30px;
}

.form-group-prijava input[type= "text"]:focus{
    border-bottom: 2px solid #262626;
}


.form-group-prijava input[type= "submit"]{
    border: none;
    outline: none;
    height:30px;
    color:#fff;
    background: #a6af13;
    cursor: pointer;
}

.form-group-prijava input[type= "submit"]:hover{
    background:#4d4d00;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 999;
    top: 0;
    left: 0;
}

.table input{
    border: none;
    border-bottom: 2px solid #a6af13 ;
    outline: none;
    text-align: center;
}
.detalji{
    width: 90%;
    background: white;

}
.detalji input{
    border: none;
    outline: none;
    border-bottom: 2px solid #a6af13 ;
    text-align: center;
}