body {
  margin: 0;
  padding: 0;
  background: url("slike/pozadina_blur.jpg");
  background-size: cover;
  font-family: sans-serif;
}
.title{
  text-align: center;
  padding: 50px 0 20px;
}
.title h1{
  margin: 0;
  padding: 0;
  color: #fff3cc;
  text-transform: uppercase;
  font-size: 36px;
}
.container{
  background-color: bisque;
  margin: 0 auto;
  height: 400px;
  width: 50%;
  border: 2px solid #fff;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);

}
.container .left{
  float: left;
  width: 50%;
  height: 400px;
  background: url("slike/pozadina.png");
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container .right{
  float: right;
  width: 50%;
  height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.formBox{
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  height: 400px;
  background: #fff;

}

.formBox p{
  margin:0;
  padding: 0;
  font-weight: bold;
  color: #a6af13;
}
.formBox input{
  width: 100%;
  margin-bottom: 20px;
}
.formBox input[type= "text"],
.formBox input[type= "Password"]{
  border: none;
  border-bottom: 2px solid #a6af13 ;
  outline: none;
  height: 40px;
}
.formBox input[type= "text"]:focus,
.formBox input[type= "Password"]:focus{
  border-bottom: 2px solid #262626;
}
.formBox input[type= "submit"]{
  border: none;
  outline: none;
  height:40px;
  color:#fff;
  background: #a6af13;
  cursor: pointer;
}

.formBox input[type= "submit"]:hover{
  background:#4d4d00;
}
.formBox a{
  color:#262626;
  font-size:12px;
  font-weight: bold;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  background: white;
  color:rgb(191,200,21);
}

i, span {
  display: inline-block;
}